@use "variables" as v;

/** Media Queries **/
@mixin phone {
  @media (min-width: v.$phone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin xl_desktop {
  @media (min-width: v.$xl_desktop) {
    @content;
  }
}

@mixin button($bgColor, $textColor) {
  background-color: $bgColor;
  padding: 1.5rem 4rem;
  color: $textColor;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  transition-property: background-color;
  transition-duration: 0.3s;
  text-align: center;
  width: 100%;
  display: inline-block;

  &:hover {
    background-color: darken($bgColor, 10%);
    cursor: pointer;
  }
}

@mixin grid($columns, $gap) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin container {
  width: min(95%, 140rem);
  margin: 0 auto;
}

@mixin md-container {
  width: min(95%, 80rem);
  margin: 0 auto;
}

@mixin sm-container {
  width: min(95%, 60rem);
  margin: 0 auto;
}
@mixin headings {
  font-family: v.$main-font;
  font-weight: v.$black-font;
  margin: 2rem 0;
}

@mixin page-name {
  @include headings;
  margin: 6rem 0 3rem 0;
  text-align: center;
}

@mixin page-description {
  text-align: center;
  font-size: 1.8rem;
  font-weight: v.$thin;
  color: v.$gray;
  margin-bottom: 5rem;
}

@mixin fluid-text($min, $max) {
  font-size: clamp($min, -0.8rem + 10vw, $max);
}

@mixin gradient-text($start, $end) {
  background: linear-gradient(to right, $start, $end);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin logo() {
  color: v.$white;
  text-align: center;
  margin-bottom: 2rem;
  white-space: nowrap;
  @include desktop {
    text-align: left;
    margin: 0;
  }
}

@mixin social-menu($color, $size) {
  &__link {
    &::before {
      color: $color;
      font-size: $size;
      display: inline-block;
      font-style: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 6 Brands";
    }

    &[href*="facebook.com"]::before {
      content: "\f39e";
    }
    &[href*="github.com"]::before {
      content: "\f09b";
    }

    &[href*="tiktok.com"]::before {
      content: "\e07b";
    }
    &[href*="instagram.com"]::before {
      content: "\f16d";
    }
    &[href*="youtube.com"]::before {
      content: "\f167";
    }
    &[href*="twitter.com"]::before {
      content: "\f099";
    }
    &[href*="linkedin.com"]::before {
      content: "\f08c";
    }
  }

  &__hide {
    display: none;
  }
}

@mixin link {
  all: unset;
  color: v.$white;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: v.$bold;
  &:hover {
    color: v.$green;
    cursor: pointer;
  }
}

@mixin shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin tags {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;

  > li {
    background-color: v.$green;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    color: v.$white;
    font-weight: v.$bold;
  }
}

@mixin card {
  border: 1px solid lighten(v.$gray, 10);
  padding: 3rem;

  &__name {
    font-weight: v.$black-font;
    font-size: 2.6rem;
    margin: 2rem 0;
  }
}

@mixin bg-gradient($bgcolor) {
  background-image: linear-gradient(
    to left top,
    $bgcolor,
    lighten($bgcolor, 15%)
  );
}

@mixin tech {
  background-color: v.$green-dark;
  color: v.$green-light;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  flex-grow: 1;
  text-align: center;
}
