@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");

// Fonts
$primary-font: "Open Sans", sans-serif;

// Media Queries Sizes
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$black: #000;

$background: #11172a;
$white: #dfe5ec;
$gray: #a5aab3;
$light-gray: #b3aea8;
$green: #599692;
$green-light: #7dd8d2;
$green-dark: #59969248;

// Spacing
$gap: 5rem;

// Fonts
$thin: 300;
$regular: 400;
$bold: 700;
$black-font: 800;
