@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

// Fonts
$primary-font: 'Open Sans', sans-serif;

// Media Queries Sizes
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #000;
$secondary: #444;
$accent: #f00;
$black: #000;

$background: #231F20;
$white: #efefef;
$gray: #646368;
$light-gray: #B3AEA8;
$blue: #6B49FF;


// Spacing
$gap: 5rem;

// Fonts
$thin: 300;
$regular : 400;
$bold: 700;
$black-font: 800