@use 'base/variables' as v;
@use 'base/mixins' as m;

.certifications{
    @include m.container;
    &__container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:flex-start;
        justify-content:center;
        gap: 2rem;
    }
}

.certification{
    display: block;
    border: .3rem solid v.$blue;
    padding: 2rem;
    border-radius: 1rem;
    background-color: v.$gray;
    height: 100%;
    transition: all .3s ease-in-out;
    width: calc(90vw);
    @include m.tablet{
        width: 60rem;
        &:hover{
            scale: 1.05;
        }
    }
    &__date{
        margin: 0;
        color: v.$white;
        font-size: 1.5rem;
    }
    &__course{
        font-size: 2rem;
        margin: 0;
        font-weight: v.$bold;
        &__skills{
        @include m.reset-list;
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        margin: 1.5rem 0;
        }
        &__skill{
            background-color: lighten(v.$blue, 15);
            color: darken(v.$blue, 15);
            font-size: 1.5rem;
            padding: .7rem;
            border-radius: .5rem;
        }
    }
}
