@use 'base/variables' as v;
@use 'base/mixins' as m;

.experience {
    @include m.container;
    max-width: 90rem;
    padding: 8rem 0 0 0;
    &__element {
        display: flex;
        align-items: center;
        border-radius: 1.5rem;
        flex-direction: column;
        padding: 1rem;
        @include m.tablet{
            padding: 1rem 3rem;
            flex-direction: row;
            justify-content: space-between;
        }
        &--active {
            background-color: darken(v.$background, 2%);
        }
    }

    &__date {
        @include m.tablet{
            align-self: flex-start;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        @include m.tablet{
            align-items: flex-start;
            flex: 0 0 40rem;
            align-self: flex-end;
            margin-bottom: 0;
        }
    }
    &__title{
        margin: 0;
        font-weight: v.$bold;
        color: v.$white;
        font-size: 2rem;
    }
    
    &__company{
        margin: 0;
        color: v.$gray;
        font-size: 1.8rem;
    }

}