@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-color: darken(v.$background, 5%);
    margin: 0;
    padding: 2rem;
    p{
        color: v.$white;
        font-size: 1.5rem;
        font-weight: v.$thin;
        text-align: center;
        span{
            font-weight: v.$bold;
        }
    }
}