@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include m.container;
    .navigation{
        display: flex;
        align-items: center;
        gap: 3rem;
        &__link{
            &:hover{

            }
        }
    }
}