@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    background-color: darken(v.$background, 5%);
    color: v.$blue;
    &__container{
        display: flex;
        justify-content: center;
        padding: 2rem;
        @include m.tablet{
            height: 10vh;
            justify-content: space-between;
        }
        align-items: center;
        @include m.container;
    }
    &__logo{
        @include m.tablet{
            background-image: url(../img/logo.png);
            background-size: cover;
            width: 8rem;
            height: 5rem;
        }
    }
    .navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        @include m.tablet{
            flex-direction: row;
        }
        &__link{
            color: v.$white;
            &:hover{
                font-weight: v.$bold;
                color: v.$blue;
                border-bottom: 1.5px solid v.$blue;
            }
        }
    }
}
