@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    background-color: darken(v.$background, 5%);
    color: v.$green;
    &__container{
        display: flex;
        justify-content: center;
        padding: 2rem;
        @include m.tablet{
            height: 10vh;
            justify-content: space-between;
        }
        align-items: center;
        @include m.container;
    }
    &__logo{
        display: none;
        @include m.tablet{
            display: block;
            color: v.$white;
            font-size: 2.3rem;
            font-weight: v.$bold;
            font-style: italic;
        }
    }
    .navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        @include m.tablet{
            flex-direction: row;
        }
        &__link{
            color: v.$white;
            &:hover{
                //font-weight: v.$bold;
                color: v.$green;
                border-bottom: 1.5px solid v.$green;
            }

            &--resume{
                border: 2.5px solid v.$green;
                border-radius: .8rem;
                color: v.$green;
                padding: .5rem;
                text-align: center;

                &:hover{
                    color: v.$white;
                    border: 2.5px solid v.$white;
                }
            }
        }
    }
}
