@use 'base/variables' as v;
@use 'base/mixins' as m;

.about{
    @include m.md-container;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    &__title{
        text-align: left;
    }
    &__description{

    }
    &__socials{
        @include m.social-menu(v.$black, 2.5rem);
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
    }
}